@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-rubik: var(--font-rubik);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);

  --color-main-blue: #315090;
  --color-main-orange: #EC8038;
  --font-almarai: var(--font-almarai);
  --font-publicSans: var(--font-publicSans);

  --color-main-blue: #315090;
  --color-main-orange: #EC8038;
  --font-almarai: var(--font-almarai);
  --font-publicSans: var(--font-publicSans);
  --color-main-blue: var(--color-main-blue);
  --color-main-orange: var(--color-main-orange);
  --color-main-green: var(--color-main-green);
  --color-main-red: var(--color-main-red);
  --color-light-blue: var(--color-light-blue);
  --color-white: var(--color-white);
  --color-dark-text: var(--color-dark-text);
  --color-gray-50: var(--color-gray-50);
  --color-gray-100: var(--color-gray-100);
  --color-gray-200: var(--color-gray-200);
  --color-gray-300: var(--color-gray-300);
  --color-gray-400: var(--color-gray-400);
  --color-gray-500: var(--color-gray-500);
  --color-gray-600: var(--color-gray-600);
  --color-gray-700: var(--color-gray-700);
  --color-gray-800: var(--color-gray-800);
  --color-gray-900: var(--color-gray-900);

  /* semantic translucent background colors */
  --color-blue-translucent: var(--blue-translucent);
}

:root {
  --font-rubik: var(--font-rubik);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --font-almarai: var(--font-almarai);
  --font-publicSans: var(--font-publicSans);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #BDBDBD;
  --input: var(--color-gray-200);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* Main Colors Used in the App */
:root {
  --color-main-blue: #315090;
  --color-main-orange: #EC8038;
  --color-main-green: #25B877;
  --color-main-red: #DE4949;
  --color-white: #FFFFFF;
  --color-dark-text: #292929;
  --color-light-blue: #7A92C4;
  /* Gray colors */
  --color-gray-50: #F2F3FA;
  --color-gray-100: #E7E9F5;
  --color-gray-200: #CACAD9;
  --color-gray-300: #9FA1B0;
  --color-gray-400: #868899;
  --color-gray-500: #797B88;
  --color-gray-600: #686A77;
  --color-gray-700: #565861;
  --color-gray-800: #43454D;
  --color-gray-900: #34343C;

  /* semantic translucent background colors */
  --blue-translucent: #DBE5FF;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #FFFFFF33;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

}

body {
  font-family: var(--font-rubik);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* handle rtl and ltr */

html[dir="rtl"] body{
  font-family: var(--font-almarai);
}

html[dir="ltr"] body{
  font-family: var(--font-rubik);
}

@layer components {
  .sidebar-gradient {
    background-image: linear-gradient(to bottom, #243B6D, #30487B);
  }
}

/* custom classes */
input[type="number"] {
  -moz-appearance: textfield
}

@layer utilities {
  .scrollbar-firefox {
    scrollbar-width: thin;
    scrollbar-color: var(--color-light-blue) transparent; /* thumb color, track color */
  }
}